/* Super-Small devices (landscape phones, 576px and up)*/
@media (min-width: 200px) and (max-width: 575px) {
    .benefit {
        width: 95%;
        flex-direction: column;
    }

    .benefit__images img {
        margin-top: 50px;
    }

    .benefit__topics>h1 {
        text-align: center;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .benefit {
        width: 95%;
        flex-direction: column;
    }

    .benefit img {
        margin-top: 50px;
    }

    .benefit__topics>h1 {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .benefit {
        width: 60%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .benefit {
        width: 60%;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .benefit {
        width: 60%;
    }
}