.explore-gallery {
    width: 60%;
    margin: 0 auto;
    margin-top: 180px;


    height: 500px;
}

.explore-gallery__header {
    display: flex;
    align-items: center;
}

.explore-gallery__header__title {
    flex: 1;
}

.explore-gallery__header__title h1 {
    font-weight: 500;
    margin-bottom: 10px;
}

.explore-gallery__header__title p {
    font-weight: 300;
    color: gray;
    font-size: 1.2em;
}

.explore-gallery__slider {
    margin-top: 40px;
    overflow-x: auto;
    display: flex;
    position: relative;
}

.explore-gallery__slider__btn {
    position: absolute;
    background-color: white;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-forward {
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.btn-back {
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}

.explore-gallery__slider::-webkit-scrollbar {
    width: 0;
}

.image-slide {
    flex-shrink: 0;
    border-radius: 6px;
    margin-right: 25px;
    width: 250px;
    height: 350px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transition: all 0.5s;
}